<%- include('header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class = "about-container">
        <h1 class = "header"> About this Project</h1> 
            <p1>This project, developed by a third-year computer science student with a strong interest in full-stack development, offers users the ability to add, edit, and delete books along with the 
                notes they make about the books they've read. Recognizing that people often forget details from books they've read, this website serves as a tool to help users keep track of their 
                thoughts, impressions, and ratings for each book. This way, users can revisit their notes and decide whether to recommend a book to family and friends.
                The project, created during the summer of 2024, showcases skills in Node.js, EJS, JavaScript, PostgreSQL, and both front-end and back-end development. 
                It reflects the developer's dedication to advancing their expertise in software engineering and their commitment to building a portfolio that aligns with industry standards.</p1>
    </div>
</body>
</html>