<%- include("header.ejs"); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div class="contactus-container">
        <h1 class="header">Contact Me</h1>
        <p class="content">
            To reach out to me, please visit 
            <a href="https://ralharas.github.io/mywebsite/" target="_blank">
                my website here
            </a>
            and submit a contact us form.
        </p>
    </div>
</body>
</html>
